<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Listeners.IExecutionListener"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="E:/testing/java/projects/Vois-Automation-Assesment">
        <classes><class name="Pages.addToCart_CarAccessories"><methods><include name="carAccessories"/>
        </methods>
        </class>
        </classes>
    </test>
</suite>